/* Globals.scss */

@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic|Oswald);

$color: #262626;
$background-color: #fff;
$base-font-size: 22px;
$line-height: 1.45;


@function em($px, $base: $base-font-size) {
    @return($px / $base) * 1em;
}

@mixin body-font-light {
    font-family: 'Lato', 'helvetica', 'verdana', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin body-font-italic {
    font-family: 'Lato', 'helvetica', 'verdana', sans-serif;
    font-weight: 400;
    font-style: italic;
}

@mixin headline-font {
    font-family: 'Oswald', 'helvetica', 'verdana', sans-serif;
    font-weight: 400;
    font-style: normal;
}