/* Module.scss */

nav[role="navigation"] ul {
    background-color: #4e2e0d;
    list-style-type: none;
    margin: 0;
    padding: 0 8px 4px 8px;
    @media screen and (min-width: 1024px) {
        max-width: 100%;
        margin-bottom: 60px;
    }
}

li {
  display: inline-block;
  margin: 0 10px;
}

nav[role="navigation"] ul li {
    margin: 0 0 0 8px;
    padding: 0;
}

nav[role="navigation"] a {
    color: #fff;
    font-size: 18px;
    transition: color 300ms linear;
    &:hover {
        color: #b96b3a;
        transition: color 300ms linear;
    }
}

header[role="banner"] {
    fill: $color;
    margin: 20px 0 20px 0;
    padding: 8px 0 0 0;

}

main[role="main"] {
    box-sizing: border-box;
    padding: 0 10px;
}

.place-mark {
    fill: #fff;
}

.cafe h1 svg {
    height: em(16px);
    fill: $color;
    margin-right: em(6px);
}

.cafe h1,
.cafe h2 {
    background-color: #4e2e0d;
    padding: 12px 0px 12px 5px;
    margin-top: 0;
    width: 100%;
}

.cafe h1 a,
.cafe h2 a {
    color: #fff;
    transition: color 300ms linear;
    &:hover {
        color: #b96b3a;
        transition: color 300ms linear;
    }
}

.cafe-location {
    margin-bottom: em(100px);
    &:last-of-type {
        margin-bottom: 0;
    }
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

//.cafe-location:last-of-type, .food-location:last-of-type, 
//.attraction-location:last-of-type {
//    margin-bottom: 0;
//}

.street-address:before {
    content: "address: ";
    @include headline-font;
}

abbr[title] {
    border-bottom: none;
}

.tel {
    display: block;
    &:before {
        content: "phone: ";
        @include headline-font;
    }
}
    
footer[role="contentinfo"] {
    background-color: #4e2e0d;
    color: #fff;
    font-size: 18px;
    padding: 10px;
}

footer[role="contentinfo"] h2 {
    margin: 0;
}

footer[role="contentinfo"] ul + h2 {
    margin-top: em(22px);
}

footer[role="contentinfo"] ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer[role="contentinfo"] ul li {
    margin: 0 4px 0 0;
    padding: 0;
}

footer[role="contentinfo"] a {
    color: #fff;
    transition: color 300ms linear;
    &:hover {
        color: #b96b3a;
        transition: color 300ms linear;  
    }
}


.loading-icon {
    max-width: 200px;
    width: 100%;
}

p[data-lazy-load] {
    text-align: center;
}
    
img[alt="Artifact's Exterior"] {
    padding-bottom: 15px;
}

img[alt="Beans"] {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

img[alt="Beans1"] {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 0;
}
